  <%= form_for([@post,@post.comments.build]) do |f| %>
  	<div class="form-group">
  		<div class="row" >
        <div class="col-md-6 col-xs-6">   
          <%= f.text_area :body, :placeholder =>"Comments", :class => "form-control" , :id => "add_comment" %>
        </div>
      </div>
    </div>	
  <% end %>