  <%= form_for([@post,@post.comments.build]) do |f| %>
  	<div class="form-group">
  		<div class="row" >
        <div class="col-md-12 col-xs-12">   
          <%= f.text_area :body,:row => "2", :placeholder =>"Comments", :class => "form-control" , :id => "add_comment" , :style => "max-width: 100%;"%>
        </div>
      </div>
    </div>	
  <% end %>